<!-- portfolio/templates/portfolio/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@500;700;800&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

    <style>
        
    </style>
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
</head>

<body>

<aside class="sidebar">
    <a href="{% url 'licenciaturas' %}" class="sidebar-logo">
        Portfolio<span>.</span>
    </a>

    <p class="sidebar-sub">Rodrigo Alexandre • Django App</p>

    <p class="nav-section">Académico</p>
    <nav>
        <a href="{% url 'licenciaturas' %}"><span class="dot"></span>Licenciaturas</a>
        <a href="{% url 'docentes' %}"><span class="dot"></span>Docentes</a>
        <a href="{% url 'ucs' %}"><span class="dot"></span>Unidades Curriculares</a>
    </nav>

    <p class="nav-section">Projetos</p>
    <nav>
        <a href="{% url 'projetos' %}"><span class="dot"></span>Projetos</a>
        <a href="{% url 'tfcs' %}"><span class="dot"></span>TFCs</a>
    </nav>
    
    <p class="nav-section">Skills</p>
    <nav>
        <a href="{% url 'tecnologias' %}"><span class="dot"></span>Tecnologias</a>
        <a href="{% url 'competencias' %}"><span class="dot"></span>Competências</a>
        <a href="{% url 'formacoes' %}"><span class="dot"></span>Formações</a>
    </nav>
    <p class="nav-section">Documentação</p>
<nav>
    <a href="{% url 'sobre' %}"><span class="dot"></span>Sobre a App</a>
    <a href="{% url 'makingof' %}"><span class="dot"></span>Making Of</a>
</nav>
</aside>

<main class="main">
    {% block content %}
    {% endblock %}
</main>

<footer>
    <span>portfolio &copy; 2026</span>
    <span>Desenvolvido em Django</span>
</footer>

</body>
</html>