{% extends "portfolio/base.html" %}

{% block content %}

<div class="page-header">
    <div>
        <h2>Formações<span>.</span></h2>
        <p>Formações, cursos e certificações complementares.</p>
    </div>
    <span class="page-count">{{ formacoes|length }} formações</span>
</div>

<a href="{% url 'formacao_create' %}" 
   class="badge" 
   style="text-decoration:none; margin-bottom: 1rem; display:inline-block;">
    + Nova Formação
</a>

<section class="grid">
    {% for formacao in formacoes %}
    <article class="card">
        <header>
            <h3>{{ formacao.titulo }}</h3>
            <p>{{ formacao.instituicao }}</p>
        </header>

        <section>
            <h4>Tipo</h4>
            <p><span class="badge">{{ formacao.tipo }}</span></p>

            <br>

            <h4>Tecnologias</h4>
            <ul class="tag-list">
                {% for tec in formacao.tecnologias.all %}
                    <li>{{ tec.nome }}</li>
                {% empty %}
                    <li>Sem tecnologias</li>
                {% endfor %}
            </ul>

            <br>

            <a href="{% url 'formacao_update' formacao.id %}" 
               class="badge" 
               style="text-decoration:none;">
                ✏️ Editar
            </a>

            <a href="{% url 'formacao_delete' formacao.id %}" 
               class="badge" 
               style="text-decoration:none;">
                🗑️ Apagar
            </a>
        </section>
    </article>

    {% empty %}
    <article class="card">
        <header>
            <h3>Sem dados</h3>
            <p>Ainda não existem formações registadas.</p>
        </header>
    </article>
    {% endfor %}
</section>

{% endblock %}