{% extends "portfolio/base.html" %}
{% load static %}

{% block content %}

<div class="page-header">
    <div>
        <h2>Making Of<span>.</span></h2>
        <p>Documentação e reflexão sobre o desenvolvimento do projeto.</p>
    </div>

    <span class="page-count">Documento</span>
</div>

<section class="grid">

    <!-- CARD DESCRIÇÃO -->
    <article class="card">
        <header>
            <h3>Sobre o Projeto</h3>
            <p>Contexto e desenvolvimento</p>
        </header>

        <section>
            <p>
                Nesta secção apresento o making of do projeto, onde explico todo o processo de desenvolvimento,
                dificuldades encontradas, decisões tomadas e aprendizagens adquiridas ao longo do trabalho.
            </p>
        </section>
    </article>

    <!-- CARD DOCUMENTO -->
    <article class="card">
        <header>
            <h3>Documento</h3>
            <p>Relatório completo em Word</p>
        </header>

        <section>
            <p>Podes abrir o documento completo aqui:</p>

            <br>

            <a href="https://docs.google.com/document/d/1vzbsC3ORNFG_yKKG9Iw2elbVQ1W6EC2c4RyMDn2LiY0/edit?usp=sharing" 
   target="_blank" 
   class="badge" 
   style="text-decoration:none;">
    📄 Abrir Making Of
</a>
        </section>
    </article>

</section>

<br>

<a href="/" class="badge" style="text-decoration:none;">
    ← Voltar ao início
</a>

{% endblock %}